langchain==0.3.25
langchain-community==0.3.23
langchain-openai==0.3.16
langgraph==0.3.21
langgraph-checkpoint-sqlite==2.0.6
playwright==1.51.0
reportlab==4.2.5
python-dotenv==1.1.0
requests==2.32.3
 # cache bust Sun Apr  5 22:17:35 EDT 2026
